/* Basic style */
* {
  box-sizing: border-box;
}
body {
  --primary: #fff;
  --secondary: #050840;
  --highlight-primary: #7ce7c9;
  --highlight-secondary: #9d7beb;
  --radius: 0.5rem;
  --pill: 2rem;
  --line: 0.1rem;

  margin: 2rem;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background: var(--secondary);
}
h1, h2, p, a {
  color: var(--primary)
}
li {
  font-size: 2em;
  display: inline-block;
  a {
    display: inline-block;
    margin: 0.2em;
    padding: 0.4em 0.8em;
    background: var(--secondary);
    color: var(--highlight-primary);
    border: var(--line) solid var(--highlight-primary);
    border-radius: var(--pill);
    font-weight: normal;
    text-decoration: none;
    &:hover, &:focus {
      color: var(--primary);
      border-color: var(--primary);
    }
  }
}


/* UI Event Classes */

/* Jump animation on the Design link */
a[href="#design"] {
  position: relative;
  background: var(--highlight-secondary);
  color: var(--secondary);
  border-color: var(--secondary);
}

.jump {
  animation-name: jump;
  animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
  animation-duration: 1.2s;
  animation-iteration-count: 1;
}

@keyframes jump {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}


/* Hieronder komen jouw animaties en stijlen */

.scale {
  animation-name: scale;
  animation-iteration-count: 12;
  animation-duration: .5s;
  
}

@keyframes scale {

  50% {
    scale: 1.3;
  }

  100% {
    scale: 1;
  }
}


.translate {
  animation-name: translate;
  animation-iteration-count: 12;
  animation-duration: .5s;
}

@keyframes translate {
  0% {
    translate: 0 0;
  }
  30% {
    translate: 10rem 5rem;
  }

  50% {
    translate: 5rem 10rem;
  }

  70% {
    translate: 0rem 15rem;
  } 

  100% {
    translate: 0 0;
  }
}

.dblclick {
  animation-name: dblclick;
  animation-iteration-count: 2;
  animation-duration: .5s;
}

@keyframes dblclick {
  0% {
    translate: 0em 0em;
  }

  40% {
    translate: 2em 0em;
  }

  80% {
    translate: -2em 0em;
  }

  100% {
    translate: 0em 0em;
  }
}

.colorchange {
  animation-name: background-change;
  animation-iteration-count: 3;
  animation-duration: 2s;
}

@keyframes background-change {
  0%, 10%, 30%, 50%, 70%, 100% {
    background-color: #7ce7c9;
  }

  20%, 40%, 60%, 80%, 90% {
    background-color:#9d7beb;
  }
}

.rotate {
  animation-name: rotate;
  animation-iteration-count: 2;
  animation-duration: 1s;
}

@keyframes rotate {
  0%, 10%, 30%, 50%, 70%, 100% {
    rotate: -30deg;
  }

  20%, 40%, 60%, 80%, 90% {
    rotate: 30deg;
  }
}

.mouseclick {
  animation-name: mouseclick;
  animation-iteration-count: 1;
  animation-duration: 10s;
}

@keyframes mouseclick {
  20%, 50% {
    transform:rotateY(360deg)
  }

  0%, 100% {
    transform:rotateY(0deg)
  }
}





